/* Archive page */

span.archive-list-post-date {
  font-family: "Lora", "Times New Roman", serif;
  color: #808080;
  font-style: italic;
  font-size: 16px;
}

.archive-list-post {
  margin: 0 auto 0 1.1em;
}
/* general font */
body {
  font-family: "Lora", "Times New Roman", serif;
  font-size: 18px;
}
